<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/skin.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/dtree.js"></script>
</head>
    <body>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!-- 头部开始 -->
            <tr>
                <td width="17" valign="top" background="__PUBLIC__/images/mail_left_bg.gif">
                    <img src="__PUBLIC__/images/left_top_right.gif" width="17" height="29" />
                </td>
                <td valign="top" background="__PUBLIC__/images/content_bg.gif">
                    <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="././Images/content_bg.gif">
                        <tr><td height="31"><div class="title">用户创建</div></td></tr>
                    </table>
                </td>
                <td width="16" valign="top" background="__PUBLIC__/images/mail_right_bg.gif"><img src="__PUBLIC__/images/nav_right_bg.gif" width="16" height="29" /></td>
            </tr>
            <!-- 中间部分开始 -->
            <tr>
                <!--第一行左边框-->
                <td valign="middle" background="__PUBLIC__/images/mail_left_bg.gif">&nbsp;</td>
                <!--第一行中间内容-->
                <td valign="top" bgcolor="#F7F8F9">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <!-- 空白行-->
                        <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                        <!-- 一条线 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 添加栏目开始 -->
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="96%">
                                <table width="100%">
                                    <tr>
                                        <td colspan="2">
                                            <form  method="post" action="__URL__/insert">
                                                <table width="100%" class="cont">
                                                    <tr>
                                                        <td width="2%">&nbsp;</td>
                                                        <td>角色名称：</td>
                                                        <td width="20%"><input class="text" type="text" name="name" value="" /></td>
                                                        <td> * </td>
                                                        <td width="2%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="2%">&nbsp;</td>
                                                        <td>角色描述：</td>
                                                        <td width="20%"><input class="text" type="text" name="note" value="" /></td>
                                                        <td> * </td>
                                                        <td width="2%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="2%">&nbsp;</td>
                                                        <td>角色权限：</td>
                                                        <td width="20%">
                                                        	<select name='resource' onchange='if(this.value=="1")$("#res_area").show();else $("#res_area").hide();'><option value='0'>全部</option><option value="1">选择</option></select>
                                                        </td>
                                                        <td> * </td>
                                                        <td width="2%">&nbsp;</td>
                                                    </tr>
                                                    <tr id="res_area" style='display:none'>
                                                    	<td width="2%">&nbsp;</td>
                                                        <td colspan="4">
														<div class="dtree">
														<script type="text/javascript">
														d = new dTree('d','__PUBLIC__/images/dtreeImg');
														d.add(0,-1,'游戏后台管理');
														<foreach name="rlist" item="vo">
															str = "{$vo.caption}<input type='checkbox' name='role[{$vo.id}]' value=''/>";
															<neq name="vo.node_url" value="">
																str+= "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【增<input type='checkbox' name='role[{$vo.id}][]' value='1' />";
																str+= "&nbsp;&nbsp;删<input type='checkbox' name='role[{$vo.id}][]' value='3' />";
																str+= "&nbsp;&nbsp;改<input type='checkbox' name='role[{$vo.id}][]' value='2' />】";
															</neq>
															d.add({$vo.id},{$vo.parent_id},str);
														</foreach>
														document.write(d);
														</script>
														</div>
														</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td colspan="3">
                                                        <input class="btn" type="submit" value="提交" /> &nbsp;&nbsp;
                                                        <input class="btn" type="button" onclick="history.go(-1);" value="取消" />
                                                        </td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        <!-- 添加栏目结束 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td background="__PUBLIC__/images/mail_right_bg.gif">&nbsp;</td>
            </tr>
            <!-- 底部部分 -->
            <tr>
                <td valign="bottom" background="__PUBLIC__/images/mail_left_bg.gif">
                    <img src="__PUBLIC__/images/buttom_left.gif" width="17" height="17" />
                </td>
                <td background="__PUBLIC__/images/buttom_bgs.gif">
                    <img src="__PUBLIC__/images/buttom_bgs.gif" width="17" height="17">
                </td>
                <td valign="bottom" background="__PUBLIC__/images/mail_right_bg.gif">
                    <img src="__PUBLIC__/images/buttom_right.gif" width="16" height="17" />
                </td>           
            </tr>
        </table>
    </body>
</html>

